{% extends "layouts/base.html" %}

{% block title %} Donor/Sponsor Details {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Donor - {{sponsor}}</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="">
                                                
                                                <form action="{{sponsor.id}}" method="POST">
                                                    {% csrf_token %}

                                                    {% for field in form %}

                                                    <div class="form-group">
                                                        {{ field.label_tag }}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                        {% if field.help_text %}
                                                        <p class="help" id="{{ field.auto_id }}_helptext">
                                                            {{ field.help_text|safe }}
                                                        </p>
                                                        {% endif %}
                                                    </div>

                                                    {% endfor %}
                                                    <input type="submit" value="Submit" class='btn btn-info'>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Donations</h5>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    {% if donations %}
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Date</th>
                                                                <th>Purpose</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for donation in donations %}
                                                                <tr>
                                                                    <th scope="row"><a href="../donation/{{donation.id}}">{{donation.id}}</a></th>
                                                                    <td>{{donation.date}}</td>
                                                                    <td><a href="../student/{{donation.beneficiary.id}}">{{donation.beneficiary}}</a></td>
                                                                    <td>{{donation.amount}}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    {%else %}
                                                        No donations recorded.
                                                    {%endif%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Active Sponsorships</h5>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    {% if sponsorshipStatus %}
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Begin Date</th>
                                                                    <th>Beneficiary</th>
                                                                    <th>Payment Interval</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                {% for sponsorship in sponsorships %}
                                                                    
                                                                    <tr>
                                                                        {% if sponsorship.isActive %}
                                                                            <th scope="row"><a href="../sponsorship/{{sponsorship.id}}">{{sponsorship.id}}</a></th>
                                                                            <td>{{sponsorship.begin_date}}</td>
                                                                            <td><a href="../student/{{ sponsorship.beneficiary.id }}">{{sponsorship.beneficiary}}</a></td>
                                                                            {% if sponsorship.payment_interval == 1 %}
                                                                                <td>Monthly</td>
                                                                            {% elif sponsorship.payment_interval == 3 %}
                                                                                <td>Quarterly</td>
                                                                            {% elif sponsorship.payment_interval == 6 %}
                                                                                <td>Biannual</td>
                                                                            {% elif sponsorship.payment_interval == 12 %}
                                                                                <td>Yearly</td>
                                                                            {%endif%}
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    {% else %}
                                                        It looks like {{ sponsor }} has no active sponsorships.
                                                    {% endif%}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Inactive Sponsorships</h5>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    {% if sponsorships %}
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Begin Date</th>
                                                                    <th>Beneficiary</th>
                                                                    <th>Payment Interval</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                {% for sponsorship in sponsorships %}
                                                                    <tr>
                                                                        {% if sponsorship.isActive is False %}
                                                                            <th scope="row"><a href="../sponsorship/{{sponsorship.id}}">{{sponsorship.id}}</a></th>
                                                                            <td>{{sponsorship.begin_date}}</td>
                                                                            <td><a href="../student/{{sponsorship.beneficiary.id}}">{{sponsorship.beneficiary}}</a></td>
                                                                            {% if sponsorship.payment_interval == 1 %}
                                                                                <td>Monthly</td>
                                                                            {% elif sponsorship.payment_interval == 3 %}
                                                                                <td>Quarterly</td>
                                                                            {% elif sponsorship.payment_interval == 6 %}
                                                                                <td>Biannual</td>
                                                                            {% elif sponsorship.payment_interval == 12 %}
                                                                                <td>Yearly</td>
                                                                            {%endif%}
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
            
                                                            </tbody>
                                                        </table>
                                                    {% else %}
                                                        It looks like {{ sponsor }} has no inactive sponsorships.
                                                    {% endif%} 
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <button type="button" class="btn btn-danger" title="" data-toggle="modal" data-original-title="Delete this sponsor" data-target="#sponsorModal" aria-describedby="Delete this sponsor">Delete Sponsor</button>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% comment %} Delete Modal {% endcomment %}
    <div class="modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="sponsorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sponsorModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="..{{request.path}}/delete"><button type="submit" class="btn btn-danger">Yes</button></a>
            </div>
            <div class="modal-footer">
                
            </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
